@model ProjectTimesheet.ViewModel.ProjectTaskViewModel

@{
    ViewData["Title"] = "CreateProjectTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateProjectTask</h1>

<h4>ProjectTaskViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTask" hidden class="control-label"></label>
                <input asp-for="IdTask" hidden class="form-control" />
                <span asp-validation-for="IdTask" hidden class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmployee" class="control-label">Employee Name</label>
                @Html.DropDownList("IdEmployee", new SelectList(ViewBag.EmployeeList, "Value", "Text"), "", new{})
                @*            <input asp-for="IdEmployee" class="form-control" />
                <span asp-validation-for="IdEmployee" class="text-danger"></span>
                *@
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProject" class="control-label">Project Name</label>
                @*            <input asp-for="IdProject" class="form-control" />
                <span asp-validation-for="IdProject" class="text-danger"></span>
                *@             @Html.DropDownList("IdProject", new SelectList(ViewBag.ProjectList, "Value", "Text"), "", new{})
            </div>
            <div class="form-group">
                <label asp-for="IdTaskType" class="control-label">Task Type Name</label>
                @*            <input asp-for="IdTaskType" class="form-control" />
                <span asp-validation-for="IdTaskType" class="text-danger"></span>
                *@                @Html.DropDownList("IdTaskType", new SelectList(ViewBag.TaskTypeList, "Value", "Text"), "", new{})

            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                </label>
            </div>
            @*              <div class="form-group">
            <label asp-for="EmployeeName" class="control-label">Employee Name</label>
            <input asp-for="EmployeeName" class="form-control" />
            <select asp-for="EmployeeName" class="form-control" />
            @foreach (var obj in Model.Employees)
            {
            <option value ="@obj.IdEmployee">@String.Concat(obj.FirstName," ",obj.LastName) </option>
            }
            </select>
            <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="ProjectName" class="control-label">Project Name</label>
            <input asp-for="ProjectName" class="form-control" />
            <span asp-validation-for="ProjectName" class="text-danger"></span>
            @Html.DropDownList("ProjectName", new SelectList(@ViewBag.ProjectList, "Value", "Text"), "", new{})

            </div>
            <div class="form-group">
            <label asp-for="TaskTypeName" class="control-label">Task Type Name</label>
            @*                <input asp-for="TaskTypeName" class="form-control" />
            <span asp-validation-for="TaskTypeName" class="text-danger"></span>
            @Html.DropDownList("TaskTypeName", new SelectList(@ViewBag.TaskTypeList, "Value", "Text"), "", new{})
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
