@model ProjectTimesheet.ViewModel.ProjectTaskViewModel

@{
    ViewData["Title"] = "DetailsProjectTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DetailsProjectTask</h1>

<div>
    <h4>ProjectTaskViewModel</h4>
    <hr />
    <dl class="row">
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmployee)
        </dd>
*@        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTaskType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTaskType)
        </dd>
*@        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskTypeName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTask }) |
    <a asp-action="Index">Back to List</a>
</div>
