@model IEnumerable<ProjectTimesheet.ViewModel.ProjectTaskViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Project Task</h1>
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="SearchString">Search by Project </label>
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn-primary" />

    </div>

</form>
<a asp-action="Index">Back to full list</a>
<hr />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*            <th>
            @Html.DisplayNameFor(model => model.IdTask)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.IdEmployee)
            </th>*@
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]">
                @Html.DisplayNameFor(model => model.StartDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            @*            <th>
            @Html.DisplayNameFor(model => model.IdProject)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.IdTaskType)
            </th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EmployeeSortParam"]">
                @Html.DisplayNameFor(model => model.EmployeeName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProjectSortParam"]">
                @Html.DisplayNameFor(model => model.ProjectName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*            <td>
            @Html.DisplayFor(modelItem => item.IdTask)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.IdEmployee)
            </td>
            *@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                @*            <td>
            @Html.DisplayFor(modelItem => item.IdProject)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.IdTaskType)
            </td>
            *@
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskTypeName)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {

                        @Html.ActionLink("Edit", "Edit", new { id=item.IdTask })
                    }
                    |
                    @Html.ActionLink("Details", "Details", new {  id=item.IdTask  }) |
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Delete", "Delete", new {  id=item.IdTask  })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
